<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="g0">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.2518E-05 0.00025287 -0.0020895"
        rpy="0 0 0" />
      <mass
        value="0.033536" />
      <inertia
        ixx="5.9104E-06"
        ixy="3.3651E-11"
        ixz="-8.873E-09"
        iyy="1.1303E-05"
        iyz="2.1244E-09"
        izz="6.7549E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.98824 0.73725 0.51765 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="waist_yaw_link">
    <inertial>
      <origin
        xyz="3.1706E-05 -7.3869E-07 0.0065459"
        rpy="0 0 0" />
      <mass
        value="0.035286" />
      <inertia
        ixx="4.6516E-06"
        ixy="7.717E-11"
        ixz="-4.0619E-09"
        iyy="4.4014E-06"
        iyz="2.3865E-09"
        izz="2.3235E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/waist_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.98824 0.73725 0.51765 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/waist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_yaw_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="waist_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.2"
      upper="1.2"
      effort="2"
      velocity="99" />
  </joint>
  <link
    name="torso_link">
    <inertial>
      <origin
        xyz="-0.024893 -2.0775E-05 0.072618"
        rpy="0 0 0" />
      <mass
        value="0.50948" />
      <inertia
        ixx="0.00063381"
        ixy="-9.064E-08"
        ixz="-8.7994E-06"
        iyy="0.00040147"
        iyz="8.8567E-07"
        izz="0.00031368" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/torso_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/torso_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_roll_joint"
    type="revolute">
    <origin
      xyz="0.01995 -1.3874E-05 0.033929"
      rpy="0 0 0" />
    <parent
      link="waist_yaw_link" />
    <child
      link="torso_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.5"
      upper="0.5"
      effort="2"
      velocity="99" />
  </joint>
  <link
    name="l_shoulder_pitch_link">
    <inertial>
      <origin
        xyz="0.00010002 -0.011181 -0.00021086"
        rpy="0 0 0" />
      <mass
        value="0.037971" />
      <inertia
        ixx="5.2307E-06"
        ixy="2.3676E-09"
        ixz="-4.5037E-09"
        iyy="2.7256E-06"
        iyz="-1.0408E-07"
        izz="4.7363E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_shoulder_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_shoulder_pitch_joint"
    type="revolute">
    <origin
      xyz="-0.019982 0.049803 0.11706"
      rpy="0 0 0" />
    <parent
      link="torso_link" />
    <child
      link="l_shoulder_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.2"
      upper="1.2"
      effort="2"
      velocity="99" />
  </joint>
  <link
    name="l_shoulder_roll_link">
    <inertial>
      <origin
        xyz="-0.017467 0.0007259 -0.0047307"
        rpy="0 0 0" />
      <mass
        value="0.046789" />
      <inertia
        ixx="4.3163E-06"
        ixy="-8.3789E-08"
        ixz="5.2239E-07"
        iyy="6.6217E-06"
        iyz="-1.6151E-07"
        izz="5.8876E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_shoulder_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_shoulder_roll_joint"
    type="revolute">
    <origin
      xyz="0.017974 0.018741 -0.0053332"
      rpy="0 0 0" />
    <parent
      link="l_shoulder_pitch_link" />
    <child
      link="l_shoulder_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="1.2"
      effort="2"
      velocity="99" />
  </joint>
  <link
    name="l_shoulder_yaw_link">
    <inertial>
      <origin
        xyz="0.00139017748974117 5.66678433642914E-05 -0.0213976139772292"
        rpy="0 0 0" />
      <mass
        value="0.0424984195020791" />
      <inertia
        ixx="6.64277933261157E-06"
        ixy="-1.24054307705383E-08"
        ixz="2.10136634200708E-07"
        iyy="6.90216160844664E-06"
        iyz="-7.1880719020768E-09"
        izz="3.65594700106592E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_shoulder_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_shoulder_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.020466 0.0030129 -0.023567"
      rpy="0 0 0" />
    <parent
      link="l_shoulder_roll_link" />
    <child
      link="l_shoulder_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.2"
      upper="1.2"
      effort="2"
      velocity="99" />
  </joint>
  <link
    name="l_forearm_link">
    <inertial>
      <origin
        xyz="0.00093881 0.008898 -0.054115"
        rpy="0 0 0" />
      <mass
        value="0.030632" />
      <inertia
        ixx="1.0344E-05"
        ixy="-9.9298E-08"
        ixz="-1.4216E-06"
        iyy="1.1127E-05"
        iyz="1.2459E-07"
        izz="2.6298E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_forearm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_forearm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_elbow_pitch_joint"
    type="revolute">
    <origin
      xyz="0.00450102700555451 -0.00929168133266989 -0.05105"
      rpy="0 0 0" />
    <parent
      link="l_shoulder_yaw_link" />
    <child
      link="l_forearm_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.2"
      upper="0"
      effort="2"
      velocity="99" />
  </joint>
  <link
    name="r_shoulder_pitch_link">
    <inertial>
      <origin
        xyz="0.000100059632066383 0.0111805151466807 -0.00021087173635187"
        rpy="0 0 0" />
      <mass
        value="0.037970968797929" />
      <inertia
        ixx="5.23074849249526E-06"
        ixy="-2.35662427601939E-09"
        ixz="-4.51170837213187E-09"
        iyy="2.72556977974154E-06"
        iyz="1.04083346673222E-07"
        izz="4.736311215097E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_shoulder_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_shoulder_pitch_joint"
    type="revolute">
    <origin
      xyz="-0.0199821010439171 -0.0497752888455943 0.117056041163316"
      rpy="0 0 0" />
    <parent
      link="torso_link" />
    <child
      link="r_shoulder_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.2"
      upper="1.2"
      effort="2"
      velocity="99" />
  </joint>
  <link
    name="r_shoulder_roll_link">
    <inertial>
      <origin
        xyz="-0.0176331091792241 -0.00192775701561147 -0.0130574996285301"
        rpy="0 0 0" />
      <mass
        value="0.0467894808715163" />
      <inertia
        ixx="1.7892E-05"
        ixy="1.6E-08"
        ixz="8.0E-09"
        iyy="3.063E-06"
        iyz="-2.02E-07"
        izz="1.7390E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_shoulder_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_shoulder_roll_joint"
    type="revolute">
    <origin
      xyz="0.017974 -0.018741 -0.0053332"
      rpy="0 0 0" />
    <parent
      link="r_shoulder_pitch_link" />
    <child
      link="r_shoulder_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.2"
      upper="0"
      effort="2"
      velocity="99" />
  </joint>
  <link
    name="r_shoulder_yaw_link">
    <inertial>
      <origin
        xyz="0.00138988840431347 -5.65823670302945E-05 -0.0213978082571375"
        rpy="0 0 0" />
      <mass
        value="0.0424982015049493" />
      <inertia
        ixx="6.64278574315917E-06"
        ixy="1.2532081251808E-08"
        ixz="2.10198227559762E-07"
        iyy="6.90210610609687E-06"
        iyz="7.33943316265194E-09"
        izz="3.65584713741635E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_shoulder_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_shoulder_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.0204659061735257 -0.00301291158004807 -0.0235668088196412"
      rpy="0 0 0" />
    <parent
      link="r_shoulder_roll_link" />
    <child
      link="r_shoulder_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.2"
      upper="1.2"
      effort="2"
      velocity="99" />
  </joint>
  <link
    name="r_forearm_link">
    <inertial>
      <origin
        xyz="0.000939880490767008 -0.00889176873767139 -0.0541354912788089"
        rpy="0 0 0" />
      <mass
        value="0.0306132776535569" />
      <inertia
        ixx="1.03301122452533E-05"
        ixy="9.94458332568857E-08"
        ixz="-1.42159794733316E-06"
        iyy="1.11140571542068E-05"
        iyz="-1.19463103684969E-07"
        izz="2.62749989887785E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_forearm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_forearm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_elbow_pitch_joint"
    type="revolute">
    <origin
      xyz="0.00450102700555448 0.00929168133266986 -0.05105"
      rpy="0 0 0" />
    <parent
      link="r_shoulder_yaw_link" />
    <child
      link="r_forearm_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.2"
      upper="0"
      effort="2"
      velocity="99" />
  </joint>
  <link
    name="l_hip_pitch_link">
    <inertial>
      <origin
        xyz="-4.56497901811604E-05 0.0193263246416236 -0.00376131165245777"
        rpy="0 0 0" />
      <mass
        value="0.0438357464428192" />
      <inertia
        ixx="8.03384981614213E-06"
        ixy="-2.08495445056299E-10"
        ixz="1.56277452739847E-08"
        iyy="5.99141508710629E-06"
        iyz="-6.80752415933139E-08"
        izz="5.78921329591325E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="1.3872E-05 0.014 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="l_hip_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.75"
      upper="0.75"
      effort="2"
      velocity="99" />
  </joint>
  <link
    name="l_hip_roll_link">
    <inertial>
      <origin
        xyz="-0.0176846212656276 -2.84231173552432E-05 -0.00397011421450272"
        rpy="0 0 0" />
      <mass
        value="0.0461628642493584" />
      <inertia
        ixx="4.62597073574409E-06"
        ixy="-1.74346837696598E-09"
        ixz="4.71111894362501E-07"
        iyy="6.3627305499548E-06"
        iyz="5.81906548307302E-09"
        izz="6.20069827857188E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_hip_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_hip_roll_joint"
    type="revolute">
    <origin
      xyz="0.0170347379475023 0.0216861261856983 -0.0279057290785069"
      rpy="0 0 0" />
    <parent
      link="l_hip_pitch_link" />
    <child
      link="l_hip_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0.75"
      effort="2"
      velocity="99" />
  </joint>
  <link
    name="l_thigh_link">
    <inertial>
      <origin
        xyz="-0.000626327501264073 2.99418381688177E-05 -0.0221115345961106"
        rpy="0 0 0" />
      <mass
        value="0.0500162226079674" />
      <inertia
        ixx="9.27757424974823E-06"
        ixy="8.95352956508566E-09"
        ixz="-6.10706434362572E-08"
        iyy="9.25800205067231E-06"
        iyz="3.67617238761863E-09"
        izz="6.11340902324916E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_thigh_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_thigh_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_hip_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.0170475822842781 0 -0.019998972833029"
      rpy="0 0 0" />
    <parent
      link="l_hip_roll_link" />
    <child
      link="l_thigh_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1"
      upper="1"
      effort="2"
      velocity="99" />
  </joint>
  <link
    name="l_calf_link">
    <inertial>
      <origin
        xyz="0.00215459694888947 0.00959407586645203 -0.0383603431624018"
        rpy="0 0 0" />
      <mass
        value="0.0287721329481338" />
      <inertia
        ixx="1.07635210950092E-05"
        ixy="-3.75024086787238E-09"
        ixz="2.90956003804816E-06"
        iyy="1.19840293508212E-05"
        iyz="-8.44738225477376E-09"
        izz="4.61423151641298E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_calf_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_calf_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_knee_pitch_joint"
    type="revolute">
    <origin
      xyz="-0.00680102719060529 -0.00973612618569838 -0.0488891925260493"
      rpy="0 0 0" />
    <parent
      link="l_thigh_link" />
    <child
      link="l_calf_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0.75"
      effort="2"
      velocity="99" />
  </joint>
  <link
    name="l_ankle_pitch_link">
    <inertial>
      <origin
        xyz="0.00172316293803398 0.00976530586512401 -0.0244488776928938"
        rpy="0 0 0" />
      <mass
        value="0.0350556672377975" />
      <inertia
        ixx="2.34956646066085E-06"
        ixy="-7.17297656383577E-10"
        ixz="7.38655608252197E-10"
        iyy="4.23823114695127E-06"
        iyz="-5.28342193653959E-09"
        izz="4.23351248541104E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_ankle_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_ankle_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_ankle_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.0944000000000192"
      rpy="0 0 0" />
    <parent
      link="l_calf_link" />
    <child
      link="l_ankle_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.75"
      upper="0.75"
      effort="2"
      velocity="99" />
  </joint>
  <link
    name="l_foot_link">
    <inertial>
      <origin
        xyz="0.00480479619560839 7.44073179128474E-05 -0.00685214498846156"
        rpy="0 0 0" />
      <mass
        value="0.0269171648389904" />
      <inertia
        ixx="3.12088428640359E-06"
        ixy="-1.30425665354999E-07"
        ixz="-2.96052094074601E-07"
        iyy="4.7954312784723E-06"
        iyz="4.52337390243297E-08"
        izz="5.33224211685676E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_foot_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_foot_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_ankle_roll_joint"
    type="revolute">
    <origin
      xyz="0.01945 0.00973612618569835 -0.025587607265967"
      rpy="0 0 0" />
    <parent
      link="l_ankle_pitch_link" />
    <child
      link="l_foot_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.75"
      upper="0.75"
      effort="2"
      velocity="99" />
  </joint>
  <link
    name="r_hip_pitch_link">
    <inertial>
      <origin
        xyz="-4.5873e-05 -0.019326 -0.0037613"
        rpy="0 0 0" />
      <mass
        value="0.043836" />
      <inertia
        ixx="8.0338e-06"
        ixy="2.9987e-10"
        ixz="1.563e-08"
        iyy="5.9914e-06"
        iyz="6.8052e-08"
        izz="5.7892e-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="1.38715273801004E-05 -0.0140000000000014 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="r_hip_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.75"
      upper="0.75"
      effort="2"
      velocity="99" />
  </joint>
  <link
    name="r_hip_roll_link">
    <inertial>
      <origin
        xyz="-0.0176843831349483 2.85775012664607E-05 -0.00396959789534018"
        rpy="0 0 0" />
      <mass
        value="0.0461657908401223" />
      <inertia
        ixx="4.62691562440911E-06"
        ixy="1.76673790186097E-09"
        ixz="4.712222555292E-07"
        iyy="6.36383186439729E-06"
        iyz="-5.850090522075E-09"
        izz="6.20083427172273E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_hip_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_hip_roll_joint"
    type="revolute">
    <origin
      xyz="0.0170347379475028 -0.0216861261856994 -0.0279057290785072"
      rpy="0 0 0" />
    <parent
      link="r_hip_pitch_link" />
    <child
      link="r_hip_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.75"
      upper="0"
      effort="2"
      velocity="99" />
  </joint>
  <link
    name="r_thigh_link">
    <inertial>
      <origin
        xyz="-0.000627663800527082 -3.06691161212069E-05 -0.0221800727003675"
        rpy="0 0 0" />
      <mass
        value="0.0498744016041501" />
      <inertia
        ixx="9.27523452031638E-06"
        ixy="-9.60816980375445E-09"
        ixz="-6.14307594627174E-08"
        iyy="9.2551971064154E-06"
        iyz="-3.66274657257402E-09"
        izz="6.1084831279344E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_thigh_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_thigh_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_hip_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.0170475822842784 0 -0.0199989728330287"
      rpy="0 0 0" />
    <parent
      link="r_hip_roll_link" />
    <child
      link="r_thigh_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1"
      upper="1"
      effort="2"
      velocity="99" />
  </joint>
  <link
    name="r_calf_link">
    <inertial>
      <origin
        xyz="0.00215322764486544 -0.00959240062859335 -0.0383605075467117"
        rpy="0 0 0" />
      <mass
        value="0.028776880276565" />
      <inertia
        ixx="1.07642718810666E-05"
        ixy="3.19065463073116E-09"
        ixz="2.90954657468445E-06"
        iyy="1.19848655473004E-05"
        iyz="8.18297897975092E-09"
        izz="4.61557317774644E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_calf_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_calf_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_knee_pitch_joint"
    type="revolute">
    <origin
      xyz="-0.0068010271906054 0.00973612618569838 -0.0488891925260493"
      rpy="0 0 0" />
    <parent
      link="r_thigh_link" />
    <child
      link="r_calf_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0.75"
      effort="2"
      velocity="99" />
  </joint>
  <link
    name="r_ankle_pitch_link">
    <inertial>
      <origin
        xyz="0.00172316376129283 -0.00976530477145394 -0.0244488727876396"
        rpy="0 0 0" />
      <mass
        value="0.035055675725189" />
      <inertia
        ixx="2.34956716515257E-06"
        ixy="7.17541393264402E-10"
        ixz="7.38782940022734E-10"
        iyy="4.23823132492218E-06"
        iyz="5.28351240068864E-09"
        izz="4.23351309910908E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_ankle_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_ankle_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_ankle_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.0944000000000192"
      rpy="0 0 0" />
    <parent
      link="r_calf_link" />
    <child
      link="r_ankle_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.75"
      upper="0.75"
      effort="2"
      velocity="99" />
  </joint>
  <link
    name="r_foot_link">
    <inertial>
      <origin
        xyz="0.00480490436033306 -7.47974991022957E-05 -0.00685148836458804"
        rpy="0 0 0" />
      <mass
        value="0.0269180878617963" />
      <inertia
        ixx="3.12139128193533E-06"
        ixy="1.30590736859477E-07"
        ixz="-2.96142510070389E-07"
        iyy="4.79540169310147E-06"
        iyz="-4.52760198276911E-08"
        izz="5.33231673166063E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_foot_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.988235294117647 0.737254901960784 0.517647058823529 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_foot_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_ankle_roll_joint"
    type="revolute">
    <origin
      xyz="0.01945 -0.00973612618569836 -0.025587607265967"
      rpy="0 0 0" />
    <parent
      link="r_ankle_pitch_link" />
    <child
      link="r_foot_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.75"
      upper="0.75"
      effort="2"
      velocity="99" />
  </joint>
</robot>

